src/main/java/br/gov/sp/fazenda/dsen/util/url-sefaz.xsd.bak

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="NFeURLSefaz">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="uf" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NfeRecepcao2">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">

			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NfeRetRecepcao2">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">

			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NfeCancelamento2">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">

			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NfeInutilizacao2">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">

			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NfeStatusServico2">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">

			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NfeConsulta2">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">

			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="CadConsultaCadastro2">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">

			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="RecepcaoEvento">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">

			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="uf">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NfeRecepcao2"/>
				<xs:element ref="NfeRetRecepcao2"/>
				<xs:element ref="NfeCancelamento2"/>
				<xs:element ref="NfeInutilizacao2"/>
				<xs:element ref="NfeStatusServico2"/>
				<xs:element ref="NfeConsulta2"/>
				<xs:element ref="CadConsultaCadastro2"/>
				<xs:element ref="RecepcaoEvento"/>
			</xs:sequence>
			<xs:attribute name="sigla" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AC"/>
						<xs:enumeration value="AL"/>
						<xs:enumeration value="AM"/>
						<xs:enumeration value="AP"/>
						<xs:enumeration value="BA"/>
						<xs:enumeration value="CE"/>
						<xs:enumeration value="DF"/>
						<xs:enumeration value="ES"/>
						<xs:enumeration value="GO"/>
						<xs:enumeration value="MA"/>
						<xs:enumeration value="MG"/>
						<xs:enumeration value="MS"/>
						<xs:enumeration value="MT"/>
						<xs:enumeration value="PA"/>
						<xs:enumeration value="PB"/>
						<xs:enumeration value="PE"/>
						<xs:enumeration value="PI"/>
						<xs:enumeration value="PR"/>
						<xs:enumeration value="RJ"/>
						<xs:enumeration value="RN"/>
						<xs:enumeration value="RO"/>
						<xs:enumeration value="RR"/>
						<xs:enumeration value="RS"/>
						<xs:enumeration value="SC"/>
						<xs:enumeration value="SE"/>
						<xs:enumeration value="SP"/>
						<xs:enumeration value="SU"/>
						<xs:enumeration value="TO"/>
						<xs:enumeration value="RFB"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
